<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short-URL</title>
  </head>
  <body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
    <p>URL Generated: http://localhost:8001/url/<%= id %></p>
    <% } %>
    <div>
      <form method="POST" action="/url">
        <label>Enter Your Original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate</button>
      </form>
    </div>
    <div>
      <% if (locals.urls) { %>
      <table style="border-collapse: collapse">
        <thead>
          <th style="padding: 10px">Sr.no</th>
          <th style="padding: 10px">ShortId</th>
          <th style="padding: 10px">Redicect</th>
          <th style="padding: 10px">Clicks</th>
        </thead>
        <tbody>
          <% urls.forEach((url,index) => { %>
          <tr>
            <td style="padding: 5px"><%= index+1 %></td>
            <td style="padding: 5px"><%= url.shortId %></td>
            <td style="padding: 5px"><%= url.redirectURL %></td>
            <td style="padding: 5px"><%= url.VisitHistory.length %></td>
            <% }) %>
          </tr>
        </tbody>
      </table>

      <% } %>
    </div>
  </body>
</html>
